<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>
<body>
    <h3>Test envois email par nobodySkb</h3>
    <strong>{{ date }}</strong>
    <strong> votre email {{ email }}</strong>

    <p style="color:brown">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit minima veniam quidem porro fuga a, suscipit recusandae exercitationem quia dolorem! Accusamus ipsum incidunt sed maiores illum, dolorem doloribus architecto magni.
    Quo tenetur voluptatem quas? Magni possimus porro aut corporis accusamus, cum repellendus est et non accusantium labore illum quidem eligendi commodi soluta error ducimus officia atque voluptatem nostrum sit! Eius?
    Nesciunt libero obcaecati cum. Sed veniam, aliquam harum tenetur repellat sint maiores cupiditate odio odit, expedita perspiciatis! Dolorum eius praesentium ullam optio omnis quo quaerat assumenda, impedit nulla, sunt doloribus.
    Esse earum perferendis inventore ad aliquid quasi debitis soluta veniam cupiditate facere! Officia sit, veritatis laboriosam porro quibusdam error neque numquam perferendis facilis pariatur iusto quisquam maiores adipisci tenetur labore!
    Ipsam incidunt illum cum, asperiores laboriosam tempora magnam alias ratione blanditiis vitae dolorum voluptatibus corrupti eligendi fugiat accusantium ullam nulla dignissimos facilis corporis ducimus. Doloribus nihil neque magni quod ratione.
    Atque minima praesentium ullam voluptate. Aperiam a odit cupiditate impedit sunt, excepturi, quisquam nostrum molestiae temporibus incidunt nemo aut necessitatibus quidem optio nihil rem quaerat sint consequatur quibusdam laudantium voluptatem!
    Ratione modi, sed cumque id optio velit placeat fugiat voluptatum quaerat repudiandae non necessitatibus dicta debitis unde? Quaerat repellendus, modi, adipisci accusamus delectus optio, ipsa vero nihil sapiente molestias id.
    Quas, veritatis beatae. Voluptatum, consequatur sequi facilis mollitia, nulla reiciendis, veritatis praesentium iure fuga est atque optio! Porro magnam nobis pariatur suscipit quos placeat, atque praesentium dolorum fugiat! Veritatis, veniam!
    Fugit, rerum? Cumque maxime quam quisquam, eligendi odit doloribus aperiam excepturi deleniti eaque rerum minus similique facere repudiandae impedit quis veritatis mollitia, ipsa autem ut molestiae vero accusantium magni? Esse!
    Voluptas, accusamus eveniet. Obcaecati modi repellat explicabo veniam dolor molestias beatae aliquam suscipit voluptas. Rerum repellat quas sit cupiditate eius. Iure veniam praesentium aperiam asperiores tempore repudiandae beatae temporibus similique?</p>
        <em>NobodySKB email kerfala789@gmail.com </em>
</body>
</html>