{% extends 'pages/base.html' %}

{% load static  %}

{% block title %} Table {% endblock %}

{% block content  %}
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Gestion Employes</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Gestion Employes</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            {% comment %} <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type here...">
            </div> {% endcomment %}
          </div>
          <div class="dropdown-center">
          <ul class="navbar-nav  justify-content-end">
            {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <p id='message-timer' class='alert alert-success float-center font-weight-bolder text-center text-white me-5' > {{ message }} </p>
                  {% endif %}

                {% endfor %}
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                      Notifications
                      {% if notifications_unread %}
                          <span class="badge bg-danger">{{ notifications_unread|length }}</span> <!-- Nombre de notifications non lues -->
                      {% endif %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                      {% if notifications_unread %}
                          {% for notification in notifications_unread %}
                              <li>
                                  <a class="dropdown-item" href="{% url 'employer:notification_detail' notification.id %}">
                                      {{ notification.actor }} - {{ notification.verb }} 
                                  </a>
                              </li> 
                          {% endfor %}
                          <li>
                              <a class="dropdown-item text-center" href="{% url 'employer:all_notifications' %}">Voir toutes les notifications</a>
                          </li>
                      {% else %}
                          <li><a class="dropdown-item" href="#">Aucune nouvelle notification</a></li>
                      {% endif %}
                  </ul>
              </div>
              <div class='ms-4 mb-3 text-white fontWeigth-bolder'>
                <a  id='area' class='item link active text-white fw-bold' href="{% url 'accounts:logout' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
              </svg> 
            </a></div>
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
      
        
      
          {% if is_manager %}
          <a href="{% url 'employer:add' %}">
            <button id='aj' class='btn btn-light'> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
          </svg> Enregistrer</button></a>

          {% endif %}
                  
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between">
              <h6>Employer table</h6>
              <a href="{% url 'employer:export_employers_to_excel' %}">
              <button type='button' class='btn btn-outline-secondary fw-bolder'>Export Excel </button> </a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table ">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-primary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-primary text-xxs font-weight-bolder opacity-7">NOM</th>
                      <th class="text-uppercase text-primary text-xxs font-weight-bolder opacity-7 ">PRENOM</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7 ">E-Mail</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7 ">ADRESSE</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7 ">TELEPHONE</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder opacity-7 ">Service</th>
                      <th class="text-center text-uppercase text-danger text-xxs font-weight-bolder opacity-7 col='1' "></th>
                    </tr>
                  </thead>
                  <tbody >
                    {% for empl in employe %}
                            
                    <tr> 
                      <td> 
                        <div class="d-flex px-2 py-1 ms-2">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm text-secondary"> {{ empl.user.matricule }}</h6>
                        </div>
                      </div>
                    </td>
                      <td> 
                      <div class="d-flex px-2 py-1 ms-2">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm text-secondary"> {{ empl.name_employe }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                  <div class="d-flex px-2 py-1 ms-2">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm text-secondary"> {{ empl.prenom_employe }} </h6>
                    </div>
                  </div>
                </td>
              <td>
              <div class="d-flex px-2 py-1 ms-5 ps-10">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-sm text-secondary"> {{ empl.email_employe }} </h6>
                </div>
              </div>
            </td>
          <td>
          <div class="d-flex px-2 py-1 ms-4 ps-5">
            <div class="d-flex flex-column justify-content-center">
              <h6 class="mb-0 text-sm text-secondary"> {{ empl.adresse_employe }} </h6>
            </div>
          </div>
        </td>
      <td>
      <div class="d-flex px-2 py-1 ms-5 ps-2">
        <div class="d-flex flex-column justify-content-center">
          <h6 class="mb-0 text-sm text-secondary"> {{empl.tel_employe}} </h6>
        </div>
      </div>
    </td>
    <td>
  <div class="d-flex px-2 py-1 ps-4">
    <div class="d-flex flex-column justify-content-center">
      <h6 class="mb-0 text-sm text-secondary"> {{empl.service_employe}} </h6>
    </div>
  </div>
</td> 


        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <!-- Lien Voir -->
              <li>
                <a class="dropdown-item" href="{% url 'employer:employerVu' empl.id %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                  Voir
                </a>
              </li>
        
              <!-- Lien Modifier -->
              <li>
                <a class="dropdown-item" href="{% url 'employer:edit' empl.id %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                    <path d="M3 12.5v-2A1.5 1.5 0 0 1 6.5 9h8A1.5 1.5 0 0 1 16 10.5v2A1.5 1.5 0 0 1 14.5 14h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                  </svg>
                  Modifier
                </a>
              </li>
        
              <!-- Lien Supprimer -->
              <li>
                <form method="POST" action="{% url 'employer:delete' empl.id %}" onsubmit="return confirmSuppression();">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1z"/>
                      <path d="M4.5 5.5a.5.5 0 0 1 .5-.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5.5a.5.5 0 0 1 .5-.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                    Supprimer
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </td>
        
</tr>
      
                    {% endfor%}
                      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}