{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employer-form</title>
    <link rel="stylesheet" href="{% static 'employer/css/form.css' %}">
</head>
<body>
    <h1>Ajout d'un nouveau Employer </h1>
    
    
    <form method="post" enctype="multipart/form-data">
        <div class='paraStyle'>
        <p>
            {% csrf_token %} 
        {{ form.as_p }}
        </p>
        <div>
    <a href="{% url 'employer:employer' %}"> <button type='submit'>Valider</button></a>
    </form>
    
</body>
</html>